---
import { Icon } from 'astro-icon/components';
import data from '@/data.yaml';
import { LatestEventLink } from '@/components/LatestEventLink';
import '@/style.css';
import DateUtils, { isDateTimeInRange, formatItalianDateTime } from '@/components/DateUtils';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GDG Pisa &bull; Links</title>
        <meta property="og:title" content="GDG Pisa • Links" />
        <meta property="og:description" content="GDG Pisa: Tech Community" />
        <meta property="og:url" content="https://links.gdgpisa.it" />
        <meta property="og:image" content="/gdg-pisa-logo.png" />
        <link rel="icon" href="/gdg-pisa-logo.png" />
    </head>
    <body>
        <div class="subtitle">
            <h1>
                <img src="/gdg-pisa-logo.png" alt="gdg pisa logo" />
                GDG Pisa<span class="desktop-only"> &bull; Links</span>
            </h1>
            <div class="social">
                {data.social.filter(item => item.visible).map(({ title, icon, url }) => (
                    <a href={url} target="_blank" rel="noopener noreferrer" title={title}>
                        <Icon name={icon} />
                    </a>
                ))}
            </div>
        </div>
        <h2>Welcome to DevFest 2025!</h2>
        <h2> Need more help? Ask the <span style="color: #C6BFFF">Organizers</span> or <span style="color: #FEE7A5">Staff</span>.</h2>
        {
            data.sections.map(section => {
                const visibleLinks = section.links.filter(link => {
                    const isVisible = link.visible && isDateTimeInRange(link.dataInizio, link.dataFine);
                    
                    // console.log('Link:', {
                    //     title: link.title,
                    //     visible: isVisible,
                    //     dateTimeRange: link.dataInizio && link.dataFine
                    //         ? `${formatItalianDateTime(link.dataInizio)} - ${formatItalianDateTime(link.dataFine)}`
                    //         : 'Sempre visibile',
                    //     url: link.url,
                    // });

                    return isVisible;
                });

                return (
                    visibleLinks.length > 0 && (
                        <>
                            {section.title && <h3>{section.title}</h3>}
                            <div class="links">
                                {visibleLinks.map(({ title, icon, url }) => (
                                    <a href={url} target="_blank" class="large">
                                        <Icon name={icon} />
                                        <div class="fill center">{title}</div>
                                    </a>
                                ))}
                            </div>
                        </>
                    )
                );
            })
        }


        <DateUtils client:load />
        <h2> Next Event: </h2>
        <LatestEventLink client:load />

    </body>
</html>
